*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
  
}
/* shared style */
.text-gray{
    color: #424242;
}

.primary-btn{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 10px;
    border: 2px solid #FF900E;
    cursor: pointer;
}
.primary-btn:hover{
    background-color: white;
    color: #FF900E;
}

.paragraph{
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
    margin-bottom: 32px;
}
/* shared style end */
header{
    background-color: #ff8f0e25;
    width: 100%;

}
.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
    
    align-items: center;
}
.navbar h3{
    font-weight: bold;
    font-size: 2.813rem;
}
.menubar{
    display: flex;
    gap: 40px;
}
.menubar a{
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 1.125rem;
}

.banner{
    display: block;
    margin: 0 auto;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
     text-align: center;
    padding-top: 100px;
    margin-bottom: 50px;
}

.banner-content h1{
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 20px;
}
.banner-img{
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
}
.banner-img img{
    margin: 0 auto;
    border-radius: 5px;
}

.teams{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    
    align-items: center;
    margin-top: 85px;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-right: 75px;
}
.team-content{
    width: 535px;
}
.team-content h1{
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 24px;
}

/* responsive style */

/* small device  */
@media screen and (max-width: 576px) {
    header{
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        
    }
    .menubar{
        margin-top: 12px;
    }
    .banner-content{
        width: 100%;
    }
    .banner-content p{
        width: 100%;
    }
    .banner-img img{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 25px;
        
    }

    .teams{
        flex-direction: column;
    }
    .team-image{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    .team-content{
        margin-top: 20px;
        width: 90%;
        text-align: center;
    }


}

/* medium devices */

@media screen and (min-width: 576px) and (max-width : 992px){
    header{
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        width: 100%;
        
    }
    .menubar{
        margin-top: 12px;
    }
    .banner-img{
        width: 100%;
    }
     .banner-img img{
        width: 90%;
        padding-bottom: 25px;
        
    }
    .banner-content p{
        width: 90%;
    }
    .teams{
        flex-direction: column;
       
    }
    .team-image{
        margin-bottom: 40px;
    }
    .team-content{
        text-align: center;
    }
} 
    
